<header>
    <a routerLink=""> <img class="logo-max-size" src="../../assets/pictures/logo.svg"/> </a>
    <div>
        <a class="menu-link" routerLink="program"> Programmes </a>
        <a class="menu-link"routerLink="diet-and-nutrition"> Dététique et nutrition </a>
        <a class="menu-link" routerLink="tools"> Outils </a>
        <a class="menu-link" routerLink="premium"> Premium </a>
    </div>
    <div>
        <a class="menu-link" routerLink="register"> S'inscrire </a>
        <a class="menu-link" routerLink="login"> Connexion </a>
    </div>
</header>
